Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
conf.h
conf.h.in
config.guess
config.log
config.status
config.sub
configure
d2x
d2x-ggi
d2x-gl
d2x-sdl
d2x-svga
hogcreate
hogextract
mveplayer
mvlcreate
mvlextract
tex2txb
txb2tex
depcomp
install-sh
missing
mkinstalldirs
stamp-h.in
stamp-h1
.DS_Store
*.o
*.exe
.deps
debian/changelog
rpm/d2x.spec
.dirstamp
xcuserdata/
